language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
env:
  - TOX_ENV=py26
  - TOX_ENV=py27
  - TOX_ENV=py32
  - TOX_ENV=py34
  - TOX_ENV=py35
  - TOX_ENV=docs
  - TOX_ENV=flake8

install:
  - pip install tox

script:
  - tox -e $TOX_ENV
